/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background: #D8E3D3;
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bolder;
}

h2 {
  color: purple;
  font-size: 1.5em;
  font-family: arial black;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  nav
  ========================================
*/

header {
  color: #fff;
  background-color: #00A65C;
  height: auto;
  padding-top: 1vh;
  position: fixed;
  width: 100%;
  z-index: 50;
}

p {
  font-size: 1.125em;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.menu {  
    color: #fff;
    font-size: 3em;
    z-index: 4;
    text-decoration: none;
    margin-left: 2vh;
  }

.navbar {
  display: none;
  font-size: 2.18em;
  background-color: #00A65C;
}

.navbar a {
  color: #fff;
  display: block;
  text-decoration: none;
  margin-left: 2vw;
}

@media all and (min-width: 51.5em) {
  .menu {
    display: none;
  }
  .navbar {
    font-size: 2.18em;
    position: fixed;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    width:100%;
    box-shadow: 1px;
    z-index: 4;
  }

  .navbar a {
    color: #fff;
    display: block;
    text-decoration: none;
  }

  @media all and (min-width: 51.5em) {
    .navbar a {
      margin: 0px 15px 0px 0px
    }
  }

  @media all and (min-width: 69.0625em) {
    .navbar a {
      margin: 0px 1.5em 0px 0px
    }
  }

  @media all and (min-width: 85.75em) {
    .navbar a {
      margin: 0px 3em 0px 0px
    }
  }


  .home {
    background: url("../images/logo.png") no-repeat content-box center top scroll;
    text-indent: -9999px;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 42px;
    height: 42px;
    z-index: 20px;
  }
}

.main {
  background: url("../images/twix.jpg") no-repeat center top; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh
}

.button_container {
  margin-top: 23vh;
  white-space: nowrap;
}

@media all and (min-width: 44em) {
  .main {
    background: url("../images/twix.jpg") no-repeat left center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh
  }
}

.title {
    font-size: 2.15em;
font-family: arial black;
    /*text-align: center;*/
    color: #fff;
}

.statement {
    font-size: 1.5em;
font-family: arial;
font-weight: bold;
    text-align: center;
    color: #007943;
}

.mission {
  padding-left: 5px;
  position: absolute;
  top: 9vh;
  margin-left: 1vw;
}

.mission .cta {
  width: auto;
  height: auto;
  padding:4px 12px;
  margin-top: 10vh;
  margin-left: .5vw;
  color: #fff;
  border-color: #2e6da4;
  font-size: 1.5em;
  border: 0px;
  float: bottom;
  border-radius: 4px;
  text-decoration: none;
  background-color: #00A65C;
  background-image: linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 15px;
}

.mission .cta:hover {
  cursor: pointer;
}

.about {
  background: #D8E3D3;
  height: auto;
}

.what {
  width: auto;
  height: auto;
  opacity: 0.9;
  font-size: 1.125em;
  margin:2vh 2vw;
}

.what > h2 {
  color: #000;
  width: auto;
}

@media all and (min-width: 59.375em) {
  .about {
    background: url("../images/tempe-bridge.jpg") no-repeat content-box left scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    background-size: cover;
    height: 790px;
    width:auto;
  }

  .what {
    float: right;
    width: 52vw;
    height: auto;
    margin-top: 12vh;
    margin-right: 1vh;
    opacity: 0.9;
    padding-right: 1vw;
  }
}

@media all and (min-width: 70.313em) {
  .what {
    width: 52vw;
    margin-top: 17vh;
  }
}

@media all and (min-width: 80.625em) {
.what {
    width: 52vw;
    margin-top: 17vh;
  }
}


.no_events {
  display: none;
}
/***********************************/
/*          GALLERY                */
/***********************************/

.gallery {
  background-color: #D8E3D3;
  text-align: center;
  margin-top:1vh;
  margin-bottom:1vh;
}

.instagram {
  width:175px; 
  height:175px;
  margin: 3px;
}

.instagram:hover {
  width: 181px;
  height: 181px;
  margin: 0px;
  cursor: pointer;
}

@media all and (min-width: 56.563em) {
  .instagram {
    width:215px; 
    height:215px;
    margin: 3px;
  }

  .instagram:hover {
    width: 221px;
    height: 221px;
    margin: 0px;
    cursor: pointer;
  }
}

@media all and (min-width: 64.375em) {
  .instagram {
    width:250px; 
    height:250px;
    margin: 3px;
  }

  .instagram:hover {
    width: 256px;
    height: 256px;
    margin: 0px;
    cursor: pointer;
  }
}

@media all and (min-width: 80.000em) {
  .instagram {
    width:300px; 
    height:300px;
    margin: 3px;
  }

  .instagram:hover {
    width: 306px;
    height: 306px;
    margin: 0px;
    cursor: pointer;
  }
}
/***********************************/
/*          EVENTS                 */
/***********************************/
.events {
  background-color: #D8E3D3;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  color: purple;
}

.event {
  border-top: 3px red solid;
  width:175px; 
  height:175px;
  display: inline-block;
  padding: 45px 2vw;
  background-color: #fff;
  vertical-align: top;
  margin: 1vh;
}

@media all and (min-width: 56.563em) {
  .event {
    width:215px; 
    height:215px;
  }
}

@media all and (min-width: 64.375em) {
  .event {
    width:250px; 
    height:250px;
  }
}

@media all and (min-width: 80em) {
  .event {
    width:300px; 
    height:300px;
  }
}

.event:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px #888888;
}

.event_text {
  font-size: 1.125em;
  color: black;
}

/***********************************/
/*          Involved                */
/***********************************/

  .involved {
      text-align: center;
      height: auto;
      width:auto;
      overflow: auto;
      top: 23vh;
  }

.involved_heading {
    color: #fff;
    font-size: 1.125em;
    flex-direction: column;
    width: 90vw;
    margin-top: 8vh;
    margin-left: 3vw;
}

input {
  width: 300px;
  height: 40px;
  margin-right: 0px;
  float:right;
  border-radius: 4px;
  border-width: 1px;
}

form {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.input_div {
  display: inline-block
}

.subscribe_div {
  display: inline-block
}
.subscribe {
  width: 300px;
  height: 40px;
  margin-left:0px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  border: 0px;
  float: left;
  border-radius: 4px;
}

.subscribe:hover {
  cursor: pointer;
}

.thank_you {
  display: none;
  font-size: 1.125;
  margin: 30px 15px 5px 0px;
}

.error {
  color: red;
  font: 12px;
}
.involved {
  background: url("../images/dodsonsleeping.jpg") no-repeat content-box left scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    background-size: cover;
    text-align: center;
    height: 540px;
    width:auto;
    overflow: hidden;
}

@media all and (min-width: 59.688em) {
  .involved {
    background: url("../images/dodsonsleeping.jpg") no-repeat content-box left scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      text-align: center;
      background-size: cover;
      text-align: center;
      height: 540px;
      width:auto;
      overflow: hidden;
  }
}

/***********************************/
/*          Footer                 */
/***********************************/

footer {
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

footer img {
  text-decoration: none;
}
footer img:hover{
  cursor: pointer;
}

footer a {
    text-decoration: none;
}
